/* universal selector */
*{
    font-family: Arial;
}

/* type Selector */
h1{
    font-size: 30px;
}

/* class selector */
.artikel{
    font-size: 20px;

}

.credit{
    font-size: 12px;
}

.penulis{
    color: brown;
}

.tanggal{
    color: crimson;
}

/* id selector */
#artikel-1{
    color: darkgoldenrod;
}

/* child selector */
p>span{
    color: blueviolet;
}

/* first child */
h3+p{
    color: green;
    font-size: 14px;
}
/* all child */
h1~p{
    text-align: justify;
}