body{
    background-color: #efefef;
    color: #efefef;
}

#artikel{
    border: 1px solid #b1b1b1;
    padding: 20px;
    background-color: rgb(95, 95, 95);
}

h1{
    background-color: rgb(255, 130, 130);
    padding:10px
}

h2{
    background-color: rgba(255, 130, 130, 0.5);
}

/* hue : 0 sampai 360 */
/* saturation : 0% sampai 100% */
/* lightness : 0% sampai 100% */

p.paragraf1{
    padding: 10px;
    background-color: hsl(250, 100%, 50%);
}

/* a;pha : 0 sampai 1 */
p.paragraf2{
    padding: 10px;
    background-color: hsla(150, 50%, 50%, 0.5);
}