*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header{
    display: flex;
    background-color: beige;
    padding: 10px;
 }
 .header-logo{
    margin-top: auto;
    margin-bottom: auto;
 }
.header-logo img{
    width: 80px;
}
.header-title{
    margin-top: auto;
    margin-bottom: auto;
}
.header-title a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Navbar */
.nav{
    background-color: black ;
    padding: 10px;
    margin-top: 0px;
}
.nav-item{
    display: inline-block;
    margin-left: 20px;
    
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.nav-item a:hover{
    color: cadetblue;
}
/* Konten */
.konten{
    width: 80%;
    margin: auto;
}
.konten h1{
    color: darkolivegreen;
    font-size: 35px;
}
.konten h2{
    font-size: 22px;
    color: darkgreen;
}
/* Tabel */
.tabel{
    border-spacing: 4px;
}
.tabel-header{
    background-color: beige;
}
.tabel-header th{
    padding: 10px;
    text-align: left;
}
.tabel-konten{
    background-color: rgb(165, 219, 219);
}
.tabel-genap{
    background-color: aliceblue;
}
.tabel-konten td{
    padding: 10px;
}
td>img{
    width: 100px;
}
.tabel-konten:hover{
    background-color: bisque;
}

