h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: brown;
    text-shadow: 10px 5px 10px black;
    word-spacing: 0.5em;
    letter-spacing: 5px;
}

.credit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;

}
.tautan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-decoration: none;
    text-transform: lowercase;
}
a.tautan:hover{
    color: blueviolet;
}
a.tautan:active{
    color: cadetblue;
}
a.tautan:visited{
    color: green;
}
p.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-align: justify;
}
